<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1>ADD NEW USER</h1>
<br>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Enter Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br>
    <br>
    <label for="surname">Enter SurName:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
    <br>
    <br>
    <label for="age">Enter Age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    <br>
    <br>
    <input type="submit" value="ADD">
</form>

</body>
</html>