<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>ALL USERS</h1>
<table>
    <th>ID</th>
    <th>Name</th>
    <th>SurName</th>
    <th>Age</th>
    <th>Action</th>
    <tr th:each="usr : ${userAll}">
        <td th:text="${usr.getId}"></td>
        <td th:text="${usr.getName}"></td>
        <td th:text="${usr.getSurname}"></td>
        <td th:text="${usr.getAge}"></td>
        <td>
            <button><a th:href="@{/users/{id}/edit(id=${usr.getId()})}">UPDATE</a></button>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/users/{id}(id=${usr.getId()})}">
                <input type="submit" value="DELETE"/>
            </form>
        </td>
    </tr>
</table>
<br>
<br>
<button><a th:href="@{users/form}">ADD USER</a></button>
</body>
</html>