<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add users</title>
</head>
<body>

<h1>ADD NEW USER</h1>

    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <input type="hidden" th:field="*{id}" th:value="*{getId()}">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{firstName}" th:value="*{getFirstName()}" placeholder="Enter user name" required>
        <br>
        <br>
                <label for="last_name">Last name</label>
                <input type="text" class="form-control" id="last_name" th:field="*{lastName}" th:value="*{getLastName()}" placeholder="Enter last name">
        <br>
        <br>
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{email}" th:value="*{getEmail()}" placeholder="Enter email" required>
        <br>
        <br>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" th:value="*{getPassword()}" placeholder="Enter password" required>
        <br>
        <br>
        <button class="btn btn-secondary" type="submit" th:text="*{getId()} ? 'Save' : 'Create'"/>
        <a class="btn btn-light border-dark" href="/users">Cancel</a>
    </form>

</body>
</html>
