<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Users</title>
</head>

<body>


<table>
<tr th:remove="${users.size() == 0} ? all">

        <th>Name</th>
        <th>Last name</th>
        <th>E-mail</th>
        <th>Actions</th>
    </tr>

    <tr th:each="user,rowStat : ${users}">
        <td th:text="${user.getFirstName()}"/>
        <td th:text="${user.getLastName()}"/>
        <td th:text="${user.getEmail()}"/>
        <td class="col text-center">
            <button><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></button>
            <button><a th:href="@{/users/delete(id=${user.getId()})}" >Delete</a></button>
        </td>
    </tr>

        </table>
<div th:remove="${users.size() != 0} ? all"></div>
        <button><a type="button" th:href="${(#mvc.url('UC#addUserForm')).build()}" >Create new user</a></button>
</body>
</html>
